
<%- include('../shared/head') %>
<body>
   <%- include('../shared/nav') %>
    <main>
        <div class="book__items-grid">
            <% if(books.length > 0) { %>
                <% books.map((item) => { %>
                <div class="book__grid">
                        <% let lname_update = item.author_lname.replace(' ', '_'); %>
                    <div class="card__book-img" style="background-image: url('/assets/<%= `${lname_update}_${item.released_year}.jpg` %>') "></div>
                    <div class="card__header">
                        <h2 class="card__book-title"><%= item.title %></h2>
                        <div class="card__book-author"><%= item.author_fname %> <%=item.author_lname %></div>
                        <div class="card__book-genre"><%= item.genre %></div>
                    </div>
                    <div class="card__content">
                        <h2 class="card__book-price">$<%= item.price %></h2>
                        <% let short_desc = item.description.slice(0,248) + ' ...' %> 
                        <p class="card__book-desc"><%= short_desc %></p>
                    </div>
                    <div class="card__actions">
                        <a href="/book-detail/<%= item.book_id %>" class="card__btn">Details</a>
                        <%- include('../shared/add-to-cart', item) %>
                    </div>
                </div>
                <% }) %>
            <% } else { %>
                <h1 class="card__book-title">No Books Found</h1>
           <% } %>
        </div>
    </main>
</body>

</html>